{% extends 'base.html.twig' %}

{% block title %}Editar proveedor{% endblock %}

{# templates/supplier/edit_form.html.twig #}

{% block body %}
<style>
    .example-wrapper { margin: 2%; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-column-gap: 10px;
        grid-rows-gap: 10px;
        grid-template-columns: auto, auto, auto;
        padding: 1px;
        margin: 1%;
    }

    .grid-item {
        padding: 20px;
        font-size: 15px;
        text-align: center;
        background-color: lightblue;
        border: 2px solid black
    }

    .title {
        color: black;
        font-family: Arial;
        font-size: 20px;
        border: 1px solid black;
        background-color: lightblue;
    }

    .button {
        border: 1px solid grey;
        border-radius: 2px;
        background-color: #F0F0F0;
        color: black;
        font-family: Arial;
        font-size: 13.33px;
        text-decoration: none;
        padding: 1px 6px;
    }
</style>
    <body style="background-color:cornflowerblue">
    {{ form_start(edit_form) }}
        <p>{{ form_errors(edit_form) }}</p>
        <h5 class="title">{{ form_label(edit_form.name, 'Nombre') }}</h5>
        {{ form_row(edit_form.name, { 'label': ' '}) }}
        <h5 class="title">{{ form_label(edit_form.email, 'Correo electrónico') }}</h5>
        {{ form_row(edit_form.email, { 'label': ' '}) }}
        <h5 class="title">{{ form_label(edit_form.phone, 'Teléfono de contacto') }}</h5>
        {{ form_row(edit_form.phone, { 'label': ' '}) }}
        <h5 class="title">{{ form_label(edit_form.type, 'Tipo de proveedor') }}</h5>
        {{ form_row(edit_form.type, { 'label': ' '}) }}
        <h5 class="title">{{ form_label(edit_form.active, 'Activo') }}</h5>
        {{ form_row(edit_form.active, { 'label': ' '}) }}
    {{ form_end(edit_form) }}
    <a class="button" href={{ path('index') }}>Cancelar</a>
    </body>
{% endblock %}
